* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  padding-left: 32px;
  padding-right: 32px;
}
