---
---

@import "main";

* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
	background: #000;
	color: #fff;
	margin: 0;
}

@font-face {
  font-family: 'SFProText-Regular';
  src: url('../webfonts/SFProText-Regular.eot');
  src: url('../webfonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/SFProText-Regular.ttf') format('truetype'),
       url('../webfonts/SFProText-Regular.woff') format('woff'),
       url('../webfonts/SFProText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText-Light';
  src: url('../webfonts/SFProText-Light.eot');
  src: url('../webfonts/SFProText-Light.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/SFProText-Light.ttf') format('truetype'),
       url('../webfonts/SFProText-Light.woff') format('woff'),
       url('../webfonts/SFProText-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eckmannpsych-Medium';
  src: url('../webfonts/Eckmannpsych-Medium.eot');
  src: url('../webfonts/Eckmannpsych-Medium.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/Eckmannpsych-Medium.ttf') format('truetype'),
       url('../webfonts/Eckmannpsych-Medium.woff') format('woff'),
       url('../webfonts/Eckmannpsych-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eckmannpsych-Small';
  src: url('../webfonts/Eckmannpsych-Small.eot');
  src: url('../webfonts/Eckmannpsych-Small.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/Eckmannpsych-Small.ttf') format('truetype'),
       url('../webfonts/Eckmannpsych-Small.woff') format('woff'),
       url('../webfonts/Eckmannpsych-Small.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

main {
	position: absolute;
	z-index: 1;
  padding-bottom: 100px;
}

canvas {
  z-index: 0 !important;
  position: fixed;
  display: none;
}

/* fluid container */
.content-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .content-container {
  	width: 80%;
  }
}

@media (min-width: 768px) {
  .content-container {
  	width: 80%;
  }
}

@media (min-width: 992px) {
  .content-container {
  	width: 70%;
  }
}

@media (min-width: 1140px) {
  .content-container {
  	width: 60%;
  }
}

/* typography */
.roman {
	font-size: 22px;
	font-weight: normal;
}

@media screen and (min-width: 480px) {
  .roman {
  	font-size: calc(22px + 38 * ((100vw - 480px) / 1680));
  }
}

@media screen and (min-width: 1680px) {
  .roman {
  	font-size: 60px;
  }
}


/* logo */
.logo {
	width: 40px;
	height: auto;
	margin: 75px 0;
	fill: #fff; /* needed to trip */
}

.smiley, .sad {
	margin: 65px 0;
	float: right;
	cursor: pointer;
	fill: #fff; /* needed to trip */
}

.sad {
	display: none;
}

@media screen and (min-width: 768px) {
  .logo {
		width: 50px;
		margin: 100px 0;
	}
	.smiley, .sad {
		margin: 100px 0;
	}
}

@media screen and (min-width: 1140px) {
  .logo {
		width: 60px;
		margin: 125px 0 100px;
	}
	.smiley, .sad {
		margin: 125px 0 100px;
	}
}

/* trip on click */
.tripping {
	font-family: 'Eckmannpsych-Medium';
	color: #000;
	fill: #000;
}

.show {
	display: block;
}

.hide {
	display: none;
}












