---
---

@import "main";

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  margin: 0;
  font-family: 'Sohne-Buch';
  font-size: 10px;
  line-height: 1.1;
  font-weight: normal;
  font-style: normal;
  background: #000000;
  @include md {
    background: #0071eb;
  }
  @include lg {
    background: #f9423c;
  }
  @include xxl {
    background: #ffcb01;
  }
}

body {
  margin: 1rem 0 0;
  background: #ffffff;
}

@font-face {
  font-family: 'Sohne-Buch';
  src: url('../webfonts/sohne/Sohne-Buch.eot');
  src: url('../webfonts/sohne/Sohne-Buch.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/sohne/Sohne-Buch.ttf') format('truetype'),
       url('../webfonts/sohne/Sohne-Buch.woff') format('woff'),
       url('../webfonts/sohne/Sohne-Buch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

footer {
  margin: 0;
  border-top: 1rem solid #000000;
  @include md {
    border-top: 1rem solid #0071eb;
  }
  @include lg {
    border-top: 1rem solid #f9423c;
  }
  @include xxl {
    border-top: 1rem solid #ffcb01;
  }
}

/* Page Container */
.pageContainer {
  width: 85%;
  margin: auto auto;
  padding: 5rem 0;
  @include sm {
    width: 85%;
    padding: 5rem 0;
  }
  @include md {
    width: 85%;
    padding: 8rem 0;
  }
  @include lg {
    width: 75%;
    padding: 10rem 0;
  }
  @include xl {
    width: 75%;
    padding: 10rem 0;
  }
  @include xxl {
    width: 75%;
    padding: 12rem 0;
  }
}

.containerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Responsive Grid */
.col-1, .col-2, .col-3,
.col-sm-1, .col-sm-2, .col-sm-3,
.col-md-1, .col-md-2, .col-md-3,
.col-lg-1, .col-lg-2, .col-lg-3,
.col-xl-1, .col-xl-2, .col-xl-3,
.col-xxl-1, .col-xxl-2, .col-xxl-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-1 {
  margin-left: 33.333333%;
}

.offset-2 {
  margin-left: 66.666667%;
}

@media (min-width: #{$screen-sm-min}) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-sm-1 {
    margin-left: 33.333333%;
  }

  .offset-sm-2 {
    margin-left: 66.666667%;
  }
}

@media (min-width: #{$screen-md-min}) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-md-1 {
    margin-left: 33.333333%;
  }

  .offset-md-2 {
    margin-left: 66.666667%;
  }
}

@media (min-width: #{$screen-lg-min}) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-lg-1 {
    margin-left: 33.333333%;
  }

  .offset-lg-2 {
    margin-left: 66.666667%;
  }
}

@media (min-width: #{$screen-xl-min}) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-xl-1 {
    margin-left: 33.333333%;
  }

  .offset-xl-2 {
    margin-left: 66.666667%;
  }
}

@media (min-width: #{$screen-xxl-min}) {
  .col-xxl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xxl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xxl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-xxl-1 {
    margin-left: 33.333333%;
  }

  .offset-xxl-2 {
    margin-left: 66.666667%;
  }
}

/* Font Styles */
.Header1 {
  margin-top: 0rem;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -.1rem;
  @include sm {
    font-size: 3.2rem;
    letter-spacing: -.15rem;
  }
  @include md {
    font-size: 4rem;
  }
  @include lg {
    font-size: 5.6rem;
    letter-spacing: -.2rem;
  }
  @include xl {
    font-size: 7rem;
  }
  @include xxl {
    font-size: 10rem;
    letter-spacing: -.3rem;
  }
}

.Header2 {
  margin-top: 0rem;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: -.1rem;
  @include sm {
    font-size: 2.6rem;
  }
  @include md {
    font-size: 2.6rem;
  }
  @include lg {
    font-size: 3rem;
    letter-spacing: -.15rem;
  }
  @include xl {
    font-size: 4.5rem;
  }
  @include xxl {
    font-size: 6rem;
  }
}

.Header3 {
  margin-top: 0rem;
  font-size: 1.9rem;
  font-weight: normal;
  letter-spacing: -.05rem;
  @include sm {
    font-size: 1.9rem;
  }
  @include md {
    font-size: 2.1rem;
  }
  @include lg {
    font-size: 2.1rem;
  }
  @include xl {
    font-size: 2.6rem;
  }
  @include xxl {
    font-size: 3.5rem;
    letter-spacing: -.15rem;
  }
}

.Paragraph {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: normal;
  letter-spacing: -.05rem;
  @include sm {
    font-size: 1.6rem;
  }
  @include md {
    font-size: 1.8rem;
  }
  @include lg {
    font-size: 1.8rem;
  }
  @include xl {
    font-size: 2.1rem;
  }
  @include xxl {
    font-size: 2.6rem;
    letter-spacing: -.1rem;
  }
}

.Tagline {
  margin-top: 1.25rem;
  padding-bottom: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Page Header */
.headerContainer, .footerContainer {
  width: 85%;
  margin: auto auto;
  padding: 2rem 0;
  @include lg {
    width: 75%;
    padding: 3rem 0;
  }
  @include xl {
    width: 75%;
    padding: 3rem 0;
  }
  @include xxl {
    width: 75%;
    padding: 4rem 0;
  }
}

/* Page Intro */
#pageIntro {
  padding-bottom: 5rem;
  @include sm {
    padding-bottom: 7rem;
  }
  @include md {
    padding-bottom: 9rem;
  }
  @include lg {
    padding-bottom: 13rem;
  }
  @include xl {
    padding-bottom: 15rem;
  }
  @include xxl {
    padding-bottom: 17rem;
  }
}

/* Sticky Top */
.stickyTop {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #ffffff;
}

/* Project Image */
.projectImage {
  padding: 0;
  @include sm {
    padding: 0 0 2rem 0;
  }
  @include md {
    padding: 0 0 5rem 0;
  }
  @include lg {
    padding: 0 0 10rem 0;
  }
  @include xl {
    padding: 0 0 10rem 0;
  }
  @include xxl {
    padding: 0 0 12rem 0;
  }
}

.miscProject {
  padding: 0;
  @include sm {
    padding: 0 0 2rem 0;
  }
  @include md {
    padding: 0 0 3rem 0;
  }
  @include lg {
    padding: 0 0 5rem 0;
  }
}


















